<!DOCTYPE html>
<html>
<head>
    <title>My Chatbot</title>
</head>
<body>
    <h1>Chat with me</h1>
    <p><strong>Chinese expression:</strong> {{ user_input_chinese }}</p>
    <p><strong>English I wanted to check:</strong> {{ user_input_english }}</p>
    <p><strong>Assessment:</strong> {{ bot_response }}</p>
    <!-- <form method="post" action="{{ url_for('chatbot')}}">
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" required>
        <button type="submit">Send</button>
    </form> -->
</body>
</html>